@model IEnumerable<LoginWithAuthenticationTest.Models.CompanyOffer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Experience)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Company.CompanyGUID)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Language.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Experience)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Company.CompanyGUID)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Language.Name)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CompanyOfferID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CompanyOfferID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CompanyOfferID })
        </td>*@
    </tr>
}

</table>
