@model LoginWithAuthenticationTest.Models.Programador

@{
    ViewBag.Title = "Details";
}
<div class="profileuser">
    <h2>Developer Details</h2>

    <div class="container-fluid">
        <div class="col-sm-12">
            <div class="panel panel-default user-info">
                <div class="panel-body clearfix">
                    <div class="pull-left profile-avatar">
                        <div class="thumbnail">
                           
                            <img src="@Html.DisplayFor(model => model.Foto)">
                        </div>
                    </div>
                    <div class="pull-left profile-data">
                        <div class="name">
                            <h3><strong>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</strong></h3>
                        </div>
                        <div class="contact-data">
                            <ul class="list-unstyled">
                                <li><strong>@Html.DisplayNameFor(model => model.Category):      </strong><t>@Html.DisplayFor(model => model.Category)</li>
                                <li><strong>@Html.DisplayNameFor(model => model.Email):         </strong>@Html.DisplayFor(model => model.Email)</li>
                                <li><strong>@Html.DisplayNameFor(model => model.PhoneNumber):   </strong>@Html.DisplayFor(model => model.PhoneNumber)</li>
                                <li><strong>@Html.DisplayNameFor(model => model.Age):           </strong>@Html.DisplayFor(model => model.Age) anos</li>
                                <li><strong>@Html.DisplayNameFor(model => model.Location):      </strong>@Html.DisplayFor(model => model.Location) </li>
                                <li><strong>@Html.DisplayNameFor(model => model.PriceHour):    </strong>@Html.DisplayFor(model => model.PriceHour) EUR/hr</li>
                            </ul>
                        </div>
                    </div>
                    <button class="button">SAVE</button>
                    <a href="mailto:@Model.Email?Subject=Codeplace%20company%20contact" target="_top"><button class="button button2">Contact Developer</button></a>
                </div>
            </div>
            
            @if (Model.Description != null)
            {
            <div class="panel panel-default user-notes">
            
                <div class="panel-heading">
                    <h3 class="panel-title">
                        @Html.DisplayNameFor(model => model.Description)
                    </h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li>@Html.DisplayFor(model => model.Description)</li>
                    </ul>
                </div>
            </div>
            }
            @if (Model.Description != null)
            {
            <div class="panel panel-default user-files">
                <div class="panel-heading">
                    <h3 class="panel-title">@Html.DisplayNameFor(model => model.Certificates)</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-inline">
                        <li>
                            <a class="thumbnail" href="/" title="this_filename.jpg">
                                <i class="fa fa-3x fa-file-o" aria-hidden="true"></i>
                                <small class="file-name">@Html.DisplayFor(model => model.Certificates)</small>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
            }
            
            
            <div class="panel panel-default user-notes">
                <div class="panel-heading">
                    <h3 class="panel-title">Links</h3>
                </div>
                <div class="social__container">
                    <!-- social__item linkedin -->
                    <div class="social__item">
                        <a target="_blank" href="https://www.linkedin.com/pub/steven-roberts/7a/707/409" class="social__icon--linkedin"><i class="icon--linkedin"></i></a>
                    </div>
                    <!-- /social__item linkedin -->
                    <!-- social__item github -->
                    <div class="social__item">
                        <a target="_blank" href="https://github.com" class="social__icon--github"><i class="icon--github"></i></a>
                    </div>
                </div>
            </div>
    </div>
</div>




<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.ProgramadorID }) |*@
    @*@Html.ActionLink("Back to List", "Index")*@
</p>

    </div>
