@model LoginWithAuthenticationTest.Models.IndexViewModel
@{
    ViewBag.Title = "Manage your account";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change configurations of the account</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change Password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>

        <dd>
            @if (User.IsInRole("Company"))
            {
            <dt>Offers:</dt>

            @Html.ActionLink("Create a new offer", "Create", "CompanyOffers")
            }

            </dd>
        </dl>
    </div>
