@model LoginWithAuthenticationTest.Models.Company

@{
    ViewBag.Title = "Details";
}

<div class="profileuser">
    <h2>Company Details</h2>
    <div class="container-fluid">
        <div class="col-sm-12">
            <div class="panel panel-default user-info">
                <div class="panel-body clearfix">
                    <div class="pull-left profile-avatar">
                        <div class="thumbnail">
                            <img src="@Html.DisplayFor(model => model.Image)">
                        </div>
                    </div>
                    <div class="pull-left profile-data">
                        <div class="name">
                            <h3><strong>@Html.DisplayFor(model => model.Name)</strong></h3>
                        </div>
                        <div class="contact-data">
                            <ul class="list-unstyled">
                                <li><strong>@Html.DisplayNameFor(model => model.PhoneNumber):   </strong>   @Html.DisplayFor(model => model.PhoneNumber)</li>
                                <li><strong>@Html.DisplayNameFor(model => model.Location):      </strong>   @Html.DisplayFor(model => model.Location) </li>
                                <li><strong>@Html.DisplayNameFor(model => model.Link):      </strong><a href="@Html.DisplayFor(model => model.Location)">@Html.DisplayFor(model => model.Link)</a> </li>
                            </ul>
                        </div>
                    </div>
                    <button class="button">SAVE</button>
                    <a href="mailto:@Model.Email?Subject=CodePlace%20first%20contact" target="_top"><button class="button button2">CONTACT COMPANY</button></a>
                </div>
            </div>

            @if (Model.CoreBusiness != null)
            {
                <div class="panel panel-default user-notes">

                    <div class="panel-heading">
                        <h3 class="panel-title">
                            @Html.DisplayNameFor(model => model.CoreBusiness)
                        </h3>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li>@Html.DisplayFor(model => model.CoreBusiness)</li>
                        </ul>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

                        @*<p>
                            @Html.ActionLink("Edit", "Edit", new { id = Model.CompanyID }) |
                            @Html.ActionLink("Back to List", "Index")
                        </p>*@
